.main{
    width:400px;
    height: auto;
    box-sizing:border-box;
    background-color: aliceblue; 
    border:2px solid greenyellow;
    text-align:center ;
    padding:6px;
    margin-left: 30%;
    margin-right:30%;
    margin-top:40px;

}
.form_container{
    color:black;
    width:300px;
    height:auto;
    background-color:gainsboro;
    border: 1px solid lavender;
     text-align:left;
    padding: 20px;
    margin-top:40px;
    margin-left:20px;
    margin-bottom:20px;
    margin-right:20px; 
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form_container .input_wraper{
    width : 100%;
    height: auto;
    /* border:2px solid red; */
}

.form_container .input_wraper input{
    width:100%;
height:45px;
border-radius:4px ;
border:1px solid lavender ;
margin-top: 10px;
margin-bottom: 10px;
}
/* .form_container input{
width:100%;
height:36px;
border-radius:4px ;
border:1px solid lavender ;

} */
.form_container button{
    color:white;
    background-color: red;
    width:auto;
    height:36px;
    border-radius:4px ;

}
.body{
    float:center;
}