.holder{
border: 2px solid black;
padding: 12px; 
width: 100%;
height:600px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
.holder th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

.holder  td, .holder th {
    border: 1px solid #ddd;
    padding: 8px;
  }

.holder tr:nth-child(even){background-color: #f2f2f2;}

.holder tr:hover {background-color: rgb(110, 36, 36);}
